html,body,h1,h2,ul {
  margin: 0;
  padding: 0;
}
body {
  font-family: '나눔 고딕', NanumGothic, '돋움', Dotum, sans-serif;
}
a {
  text-decoration: none;
  color: #000;
}
ul {
  list-style: none;
}
img {
  vertical-align: top;
}
