@import "enum";

.header {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  height: 60px;
  background-color: rgba(0,0,0,0.7);
  z-index: 10;
}
.header_wrap {
  position: relative;
  width: 988px;
  margin: 0 auto;
}
.link_logo {
  text-shadow: 5px 10px 5px #000;
  font-weight: normal;
  color: #f0f0f0;
  line-height: 60px;
  padding: 0 20px;
  font-size: 24px;
}
.link_logo:hover {
  font-weight: bold;
}
.nav_wrap {
  position: absolute;
  top: 0;
  right: 0;
  &::after {
    @include clearfix;
  }
}
.link_nav {
  float: left;
  text-shadow: 5px 10px 5px #000;
  color: #f0f0f0;
  font-size: 20px;
  line-height: 60px;
  padding: 0 20px;
}
.link_nav:hover {
  font-weight: bold;
}