.area_intro {
  padding-top: 120px;
  height: 600px;
  background: salmon url(../img/bg_mingkie.png);
  background-attachment: fixed;
  background-size: 200px;
}
.area_intro_wrap {
  width: 988px;
  margin: 0 auto;
}
.area_img_intro {
  position: relative;
  width: 200px;
  height: 200px;
  overflow: hidden;
  border: 2px solid darkorange;
  border-radius: 50%;
  margin: 0 auto;
}
.list_img_intro {
  animation: 10s slide infinite;
}
.img_intro {
  border-radius: 50%;
}
@keyframes slide {
  35% {
    margin-top: 0;  
  }
  50% {
    margin-top: -200px;
  }
}
.area_txt_intro {
  margin-top: 50px;
  color: #f0f0f0;
  text-align: center;
}
.intro_title {
  font-size: 20px;
  font-weight: normal;
}
.area_about {
  padding: 200px;
  height: 520px;
  background: rgb(254,255,249) url(../img/han_letter.png) no-repeat 90px 0;
  background-size: 200px;
}
.area_about_wrap {
  position: relative;
  width: 988px;
  margin: 0 auto;
}
.about_title {
  font-size: 32px;
}
.about_content {
  font-size: 20px;
  white-space: pre-line;
  line-height: 35px;
  margin-top: 30px;
}
.area_img_about {
  position: absolute;
  border-radius: 20px;
  overflow: hidden;
  top: 80px;
  right: 0;
  width: 500px;
  height: 450px;
  border: 2px solid #000;
  background: url(../img/mingkie_about2.png) no-repeat;
  background-size: 500px 450px;
}
.area_img_about:hover .img_about{
  display: none;
}
.img_about {
  width: 100%;
}
